<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <filter>
        <filter-name>Authorization Filter</filter-name>
        <filter-class>com.dreamhomes.dreamhomes.filters.Authorization</filter-class>
    </filter>
    <filter>
        <filter-name>Admin Filter</filter-name>
        <filter-class>com.dreamhomes.dreamhomes.filters.Admin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/main</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/home</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/search</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/search.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/me</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/profile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/update_profile</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter </filter-name>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/users</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/users.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/homes</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/homes.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization Filter</filter-name>
        <url-pattern>/addHome.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Filter</filter-name>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Filter</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Filter</filter-name>
        <url-pattern>/users</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Filter</filter-name>
        <url-pattern>/users.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Filter</filter-name>
        <url-pattern>/homes</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Filter</filter-name>
        <url-pattern>/homes.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin Filter</filter-name>
        <url-pattern>/addHome.jsp</url-pattern>
    </filter-mapping>

</web-app>
